site_name: Awesome Python
site_url: https://awesome-python.com
site_description: A curated list of awesome Python frameworks, libraries and software
site_author: Vinta Chen
repo_name: vinta/awesome-python
repo_url: https://github.com/vinta/awesome-python
theme:
  name: material
  custom_dir: docs/overrides
  palette:
    scheme: slate
    primary: black
    accent: cyan
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.tabs.link
    - toc.follow
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vinta
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/vinta
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/vinta
extra_css:
  - css/extra.css
extra_javascript:
  - js/futuristic.js
nav:
  - "Life is short, you need Python.": "index.md"
markdown_extensions:
  - toc:
      permalink: true
  - attr_list
  - md_in_html
